### Q2. Write a program that takes two numbers as input and checks whether the first number is divisible by the second number.

In [3]:
x=int(input())
y=int(input())
if (y % x) ==0:
    print("divisible")
else:
    print("not divisible")

divisible

### Q3. Write a program to print the first five odd numbers.

In [9]:
x=1
for i in range(10):
    if (x%2)==1:
        print(x)
        x+=1
    else:
        x+=1

1
3
5
7
9

### Q4. Create a list of numbers and write a program to find the sum of all elements in the list.

In [12]:
l1=[1,2,3,4,5]
sum=0
for i in l1:
    sum+=i
print(sum)

15

### Q5. Write a program that takes a year as input and prints whether it's a leap year.
    Every year that is exactly divisible by four is a leap year, except for years that are exactly divisible by 100, but these centurial years are leap years if they are exactly divisible by 400. For example, the years 1700, 1800, and 1900 are not leap years, but the years 1600 and 2000 are.

In [ ]:
year=input()
if year%4==0:
    print("leap year")
elif year%100==0 and year%400==0:
    print("leap year")
else:
    print('not a leap year')

### Q6. Write a program that takes a string as input and prints it in both uppercase and lowercase.

In [ ]:
x=input()
print(x.upper())
print(x.lower())

### Q7. Create a list of five elements and remove the third element.

In [18]:
l1=[0,1,5,3,4]
l1.remove(5)
l1
#l1=[0,1,5,3,4]
#l1.pop(2)
#l1

[0, 1, 3, 4]

### Q9. Create a list of numbers and write a program to sort it in ascending order.

In [20]:
l2=[2,1,6,4,7,3,9]
l2.sort()
l2

[1, 2, 3, 4, 6, 7, 9]

### Q10. Write a program to print the multiplication table of a given number.

In [24]:
x=int(input())
for i in range(1,13):
    print(f"{x} * {i} =",x*i)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48

### Q11. Write a Python function square(num) that takes a number as input and returns its square.

In [26]:
def square(num):
    print(num*num)
square(4)

16

### Q12. Write a Python function sum_of_digits(number) that takes an integer as input and returns the sum of its digits.

In [28]:
def sumOfDigits(num):
    sum=0
    while num>0:
        digit=num%10
        sum+=digit
        num=num//10
    print(sum)
sumOfDigits(123)

6

### Q13. Write a Python function reverse_string(s) that takes a string as input and returns the string in reverse order.

In [30]:
def reverse_string(s):
    print(s[::-1])
reverse_string("abdo")

odba

### Q14. Write a Python function word_count(sentence) that takes a sentence as input and returns the number of words in the sentence.

In [32]:
def word_count():
    sentence=input()
    print(len(sentence))
word_count()

4

### Q15. Write a Python function remove_elements(lst, n) that takes a list and an index n as input and removes the element at index n from the list.

In [33]:
def remove_elements(l1,n):
    l1.pop(n)
    print(l1)
remove_elements([1,2,3,4],2)

[1, 2, 4]

### Q16. Write a Python function duplicate_list(lst) that takes a list as input and returns a new list that duplicates the elements of the original list.

In [36]:
def duplicate_list(l1):
    l2=[1,2,3]
    print("old list",l2)
    l2=l1
    print("new list",l2)
l1=[4,5,6]
duplicate_list(l1)

old list [1, 2, 3]
new list [4, 5, 6]

### Q17. Write a Python function is_divisible(num1, num2) that takes two numbers as input and returns True if the first number is divisible by the second number, and False otherwise.

In [38]:
def is_divisible(num1,num2):
    if num2%num1==0:
        print("true")
    else:
        print("false")
is_divisible(2,4)

true

### Q18. Write a Python function power(base, exponent) that takes a base and an exponent as input and returns the result of the base raised to the exponent.

In [39]:
def power(base, exponent):
    print(base**exponent)
power(2,3)

8

### Q19. Write a program which will find all such numbers which are divisible by 7 but are not divisible by 5, between 2000 and 3000 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [46]:
numbers=[]
for i in range(2000,3001):
    if i%7==0 and i%5!=0:
        numbers.append(str(i))
print(",".join(numbers))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996

### 20. Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line.
    5 8
    Then, the output should be:
    120,40320

In [10]:
def factorial(n):
    if n==1:
        return 1
    else:
        return n * factorial(n-1)
x=int(input())
y=int(input())
factorial_x=factorial(x)  
factorial_y=factorial(y)      
print(f"{factorial_x} , {factorial_y}")

120 , 40320

### 21. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
    Suppose the following input is supplied to the program:
    8
    Then, the output should be:
    {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [4]:
num=int(input())
d={i: i*i for i in range(1,num+1)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### 22. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program:
    34,67,55,33,12,98
    Then, the output should be:
    ['34', '67', '55', '33', '12', '98']
    ('34', '67', '55', '33', '12', '98')

In [9]:
l1=input().split(',')
t1=tuple(l1)
print(l1)
print(t1)

['1', '2', '3', '4', '5', '6', '7']
('1', '2', '3', '4', '5', '6', '7')

### 23. Write a program that calculates and prints the value according to the given formula:
    Q = Square root of [(2 * C * D) / H], 
        C is 50. H is 30.
        D is the variable whose values should be input to your program in a comma-separated sequence.

- Example
    - Let us assume the following comma separated input sequence is given to the program:
        100,150,180
    - The output of the program should be:
        18,22,24

In [20]:
import math
c=50
h=30
l1=input().split(',')
def calculate(l1):
    results=[]
    for i in l1:
        i = int(i)
        q=math.sqrt((2*c*i)/h)
        results.append(str(int(q)))
    print(",".join(results))    
calculate(l1)

18,22,24

### 24. Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
    Example
        Suppose the following inputs are given to the program:
        3,5
        Then, the output of the program should be:
        [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [26]:
digits=input().split(",")
x=int(digits[0])
y=int(digits[1])
arr=[]
for i in range(x):
    rows=[]
    for j in range(y):
        rows.append(i*j)
    arr.append(rows) 
print(arr)

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

### 25. Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program:
    hello world and practice makes perfect and hello world again
    Then, the output should be:
    again and hello makes perfect practice world

In [35]:
words=input()
print(words)
words=words.split(' ')
words=set(words)
words=sorted(words)
words = str(" ".join(words))
print(words)

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

### 26.Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.

    Example:
    0100,0011,1010,1001
    Then the output should be:
    1010

In [49]:
binary=input().split(",")
l1=[]
for i in binary:
    i=int(i,2)
    if i%5==0:
        l1.append(bin(i)[2:])
       
print(str(",".join(l1)))

1010,1111

### 27. Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a comma-separated sequence on a single line.

In [56]:
result = []
for num in range(1000, 3001):
    num = str(num)  
    isEven = True  
    for digits in num:
        if int(digits) % 2 != 0:  
            isEven = False
            break  
    if isEven:
        result.append(num)  

print(",".join(result))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

### 28. Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program:

    "hello world 123"
    Then, the output should be:
        LETTERS 10
        DIGITS 3

In [57]:
sentence=input()
letter=0
digits=0
for i in sentence:
    if i.isalpha():
        letter+=1
    elif i.isdigit():
        digits+=1
print("letters =",letter)       
print("digits =",digits)

letters = 10
digits = 3

### 29. Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. Suppose the following input is supplied to the program:

    Hello World
    Then, the output should be:
        UPPER CASE 2
        LOWER CASE 8

In [63]:
sentence=input()
upper_Case=0
lower_Case=0
for i in sentence:
    if i.isupper():
        upper_Case+=1
    elif i.islower():
        lower_Case+=1
        
print("Upper Case =",upper_Case)       
print("Lower Case =",lower_Case)

Upper Case = 2
Lower Case = 8

### 30. Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. Suppose the following input is supplied to the program:
    1,2,3,4,5,6,7,8,9
    Then, the output should be:
    1,9,25,49,81

In [64]:
numbers=input().split(",")
oddlist=[]
for i in numbers:
    i=int(i)
    if i%2==1:
        oddlist.append(i*i)
print(oddlist)

[1, 9, 25, 49, 81]

### 31. You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
    1: Sort based on name;
    2: Then sort based on age;
    3: Then sort by score.
    The priority is that name > age > score.

    If the following tuples are given as input to the program:
        Tom,19,80
        John,20,90
        Jony,17,91
        Jony,17,93
        Json,21,85
    Then, the output of the program should be:
    [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [69]:
tuples=[('Tom', 19, 80),
('John', 20, 90),
('Jony', 17, 91),
('Jony', 17, 93),
('Json', 21, 85)]
sortedTuple=sorted(tuples)
print(sortedTuple)

[('John', 20, 90), ('Jony', 17, 91), ('Jony', 17, 93), ('Json', 21, 85), ('Tom', 19, 80)]

### 32. Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

In [70]:
def even_odd(num):
    if num%2==0:
        print('even')
    else:
        print('odd')
even_odd(200)

even

### 33.The Fibonacci Sequence is computed based on the following formula:
    f(n)=0 if n=0
    f(n)=1 if n=1
    f(n)=f(n-1)+f(n-2) if n>1

- Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.

- Example:

    If the following n is given as input to the program:
    7
    Then, the output of the program should be:
    0,1,1,2,3,5,8

In [81]:
num=int(input())
fibList=[]
def fib(num):
    if num==0:
        return 0
    elif num==1:
        return 1
    else:
        return (fib(num-1)+fib(num-2))
        
fib_list = [fib(i) for i in range(num)]
print(fib_list)

[0, 1, 1, 2, 3, 5, 8]

### 47. Create a tuple with three elements and unpack it into three variables.

### 48. Create a dictionary representing a person with keys "name," "age," and "city."

In [114]:
d={"Name":['ahmed','abdo','mohammed'],"Age":[12,32,43],"City":['Cairo','Giza','Alex']}

### 49. Access and print the value associated with the "age" key in the dictionary

In [105]:
d.get("Age")

[12, 32, 43]

### 50. Update the age in the dictionary to a new value.

In [115]:
d.update({"Age":[30, 20, 15]})
d

{'Name': ['ahmed', 'abdo', 'mohammed'],
 'Age': [30, 20, 15],
 'City': ['Cairo', 'Giza', 'Alex']}

### 51. Iterate through the keys and values in the dictionary and print them.

In [107]:
for i in range(len(d["Name"])):
    print(f"{i+1} : Name: {d["Name"][i]}, Age: {d["Age"][i]}, City: {d["City"][i]}")

1 : Name: ahmed, Age: 30, City: Cairo
2 : Name: abdo, Age: 20, City: Giza
3 : Name: mohammed, Age: 15, City: Alex

### 52. Find and print the number of key-value pairs in the dictionary.

In [108]:
d.keys()

dict_keys(['Name', 'Age', 'City'])

### 53. Remove the "city" key from the dictionary.

In [117]:
d.pop("City")
d

{'Name': ['ahmed', 'abdo', 'mohammed'],
 'Age': [30, 20, 15],
 'Occupation': ['Engineer', 'Teacher', 'Doctor'],
 'ID': [1, 2, 3]}

### 54. Check if the "gender" key exists in the dictionary and print the result.

In [111]:

if d.get("gender")==None:
    print("don't exist")
else:
    print("exists")

don't exist

### 55. Create a second dictionary with additional information and merge it with the original dictionary.

In [118]:
d2={"Occupation": ['Engineer', 'Teacher', 'Doctor'],"ID": [1, 2, 3]}
for key, value in d2.items():
    d[key] = value
d

{'Name': ['ahmed', 'abdo', 'mohammed'],
 'Age': [30, 20, 15],
 'Occupation': ['Engineer', 'Teacher', 'Doctor'],
 'ID': [1, 2, 3]}

### 56. Write a program to get the keys of the dictionary as a list.

In [119]:
keyList = list(d.keys())
keyList

['Name', 'Age', 'Occupation', 'ID']

### 57. Write a program to get the values of the dictionary as a list.

In [121]:
valuesList=list(d.values())
valuesList

[['ahmed', 'abdo', 'mohammed'],
 [30, 20, 15],
 ['Engineer', 'Teacher', 'Doctor'],
 [1, 2, 3]]

### 58. Remove the key-value pair with the "name" key from the dictionary.

In [122]:
d.pop("Name")
d

{'Age': [30, 20, 15],
 'Occupation': ['Engineer', 'Teacher', 'Doctor'],
 'ID': [1, 2, 3]}

### 59. Clear all items from the dictionary.

In [123]:
d.clear()
d

{}

### 60. Write a program to print the dictionary keys in sorted order.

In [134]:
d = {"Name": "ahmed","City": "Cairo","Age":30,"Salary":1500}
sorted_keys = sorted(d.keys())
print(sorted_keys)

['Age', 'City', 'Name', 'Salary']

### 61. Write a program to print the dictionary values in sorted order.

In [144]:
d3 = {"Name": "ahmed","City": "Cairo"}
sorted_values = sorted(d3.values())
sorted_values

['Cairo', 'ahmed']

### 62. Find and print the key with the maximum value in the dictionary.

In [142]:
max(d.keys())

'Salary'

### 63. Find and print the key with the minimum value in the dictionary.

In [140]:
min(d.keys())

'Age'

### 64. Use dictionary comprehension to create a dictionary with squares of numbers from 1 to 5.

In [143]:
d4 = {num: num*num for num in range(1, 6)}
d4

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### 65. Swap the keys and values in the dictionary and print the result.

In [145]:
d1 = {"Name": "ahmed","Age": 30,"City": "Cairo","Salary": 50000}
d2 = {}

for key, value in d1.items():
    d2[value] = key
d2

{'ahmed': 'Name', 30: 'Age', 'Cairo': 'City', 50000: 'Salary'}

### 66. Create a list of integers with values 1 to 5.

In [146]:
l1=[1,2,3,4,5]

### 67. Access and print the third element of the list.

In [147]:
l1[2]

3

### 68. Modify the second element of the list to have a new value.

In [148]:
l1[1]=20
l1

[1, 20, 3, 4, 5]

### 69. Find and print the number of elements in the list.

In [149]:
len(l1)

5

### 70. Add a new element to the end of the list.

In [150]:
l1.append(6)
l1

[1, 20, 3, 4, 5, 6]

### 71. Create two lists and concatenate them into a new list.

In [152]:
l2=[1,2,3]
l3=[4,5,6]
l4=l2+l3
l4

[1, 2, 3, 4, 5, 6]

### 72. Repeat the list three times and print the result.

In [153]:
l5=l4 * 3
l5

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

### 73. Create a list of numbers from 1 to 10 and print only the elements from index 3 to 7.

In [154]:
l1=[1,2,3,4,5,6,7,8,9,10]
for i in range(l1[3],l1[8]):
    print(i)

4
5
6
7
8

### 74. Use a loop to print each element of the list.

In [155]:
for i in l1:
    print(i)

1
2
3
4
5
6
7
8
9
10

### 75. Write a program to sort the list in ascending order.

In [157]:
l1=[20,34,54,64,23,12,23,34,345,65,35,23,42,1,2]
l1.sort()
l1

[1, 2, 12, 20, 23, 23, 23, 34, 34, 35, 42, 54, 64, 65, 345]

### 76. Reverse the order of elements in the list.

In [158]:
l1.reverse()
l1

[345, 65, 64, 54, 42, 35, 34, 34, 23, 23, 23, 20, 12, 2, 1]

### 77. Remove the third element from the list.

In [160]:
l1=[1,2,3,4]
l1.pop(2)
l1

[1, 2, 4]

### 78. Clear all elements from the list.

In [161]:
l1.clear()
l1

[]

### 79. Use list comprehension to create a list of squares of numbers from 1 to 5.

In [162]:
l1=[num**2 for num in range(1,6)]
l1

[1, 4, 9, 16, 25]

### 80. Create a list with three elements and unpack it into three variables.

In [164]:
l1=[1,2,3]
x1=l1[0]
x2=l1[1]
x3=l1[2]
print(x1,x2,x3)

1 2 3